<h1> How to play </h1>

<p>
Player 1 types in their choice on the url (replacing "home"), and then Player 2 makes their choice (somehow without cheating?!) in the url
</p>
<h2>e.g. localhost/4567/rock/scissors (=player 1 wins) </h2>

<h2> or localhost/4567/rock/paper (=player 2 wins)</h2>
