<h1> The rules of rock, paper, scissors </h1>
<p>
<ol>
  <li>There are two players. You both count down from three ("three, two, one, show!)</li>
  <li>At show, you both reveal your hands</li>
  <li>The hands are as follows:</li>
    <ul>Rock beats scissors by blunting them</ul>
    <ul>Scissors beats paper by cutting through it</ul>
    <ul>Paper beats rock by wrapping it up</ul>
</ol>
</p>